<h1>New Ticket</h1>
<%= form_for [:admin, @event, @ticket] do |f| %>

<%= render partial: "form", :locals => {:f => f} %>

  <div class="form-group">
    <%= f.submit "Create", class:"btn btn-primary" %>
    <%= link_to "Cancel", admin_event_tickets_path(@event) %>
  </div>
<% end %>