<h1>Admin Users</h1>

<table class="table">
<tr>
  <th>ID</th>
  <th>Email</th>
  <th>Groups</th>
  <th>Actions</th>
</tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
        <td>
          <% user.groups.each do |g| %>
            <%= g.name %><br>
          <% end %>
        </td>
    <td><%= link_to "Edit Profile", edit_admin_user_profile_path(user), :class => "btn btn-default" %></td>
  </tr>
<% end %>
</table>
